@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chat-view-max-width: 48rem;
  --prompt-area-height: 80px;
}

/* -------------------------------------------------------------------------- */
/*                                Global Styles                               */
/* -------------------------------------------------------------------------- */

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }

  .lucide {
    width: 1em;
    height: 1em;
  }
}

:root {
  --mijnui-primary: 221.2 83.2% 53.3%;
  --mijnui-primary-foreground: 213.8 100% 96.9%;
  --mijnui-border-primary: 224.3 76.3% 48%;

  --mijnui-primary-subtle: 214.3 94.6% 92.7%;
  --mijnui-primary-foreground-subtle: 224.4 64.3% 32.9%;
  --mijnui-border-primary-subtle: 213.3 96.9% 87.3%;

  --mijnui-primary-emphasis: 224.3 76.3% 48%;

  --chart-1: 217 91% 60%;
  --chart-2: 160 84% 39%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

.dark {
  --mijnui-primary: 221.2 83.2% 53.3%;
  --mijnui-primary-foreground: 213.8 100% 96.9%;
  --mijnui-primary-border: 213.1 93.9% 67.8%;

  --mijnui-primary-subtle: 224.4 64.3% 32.9%;
  --mijnui-primary-foreground-subtle: 214.3 94.6% 92.7%;
  --mijnui-border-primary-subtle: 225.9 70.7% 40.2%;

  --mijnui-primary-emphasis: 217.2 91.2% 59.8%;

  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.skeleton {
  * {
    pointer-events: none !important;
  }

  *[class^="text-"] {
    color: transparent;
    @apply animate-pulse select-none rounded-md bg-foreground/20;
  }

  .skeleton-bg {
    @apply bg-background;
  }

  .skeleton-div {
    @apply animate-pulse bg-secondary;
  }
}

/* -------------------------------------------------------------------------- */

/* Hide scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Optional: Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 dark:bg-neutral-600;
  border-radius: 4px;
}

/* Optional: Set scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* -------------------------------------------------------------------------- */
/*                               Markdown Styles                              */
/* -------------------------------------------------------------------------- */

.markdown li::marker {
  @apply py-0 font-medium text-secondary-foreground;
}

.markdown li p {
  @apply my-0;
}

.markdown hr {
  @apply my-8 border-border;
}

.markdown thead {
  @apply border-border;
}

.markdown tr {
  @apply border-border-secondary;
}

.markdown td:not(:last-child) {
  padding-inline-end: 1.5rem;
}

.markdown td {
  padding-block: 0.625rem;
}

.markdown p > span {
  @apply my-1.5 inline-block;
}

.markdown ol {
  @apply pl-8;
}

.markdown img {
  width: 200px !important;
  height: 200px !important;
}
